body {
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: #ffe4e1; 
}

header {
    background-color: #a7dcb4; 
    color: #black; 
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3.5rem;
    color: white;
}

h2 {
    color: #794936;
}

h2::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid #a7dcb4; 
    margin-top: 5px; 
}

.container {
    max-width: 850px;
    margin: 20px auto;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}

ul {
    margin-bottom: 20px; 
}

.first-list {
    list-style: none;
    margin-left: 25px;
}

.emphasis {
    font-family: ;
    font-size: 26px;
    color: darkseagreen;
    font-weight: bold;
    font-style: italic;
}

.inline-list {
    list-style: none;
    padding: 0;
}

.inline-list li {
    display: inline;
    margin-left: 3px;
    margin-top: 10px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: white;
    background-color: darkseagreen;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.neuredena-lista li {
    font-size: 20px;
    margin-left: 25px;
}

.line {
    width: 500px;
    margin-left: 25px;
}


a {
    color: #794936;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.1em;
    line-height: 1.4;
    color: #black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.corner-image {
    width: 100px;
    height: 100px;
    position: absolute;
    background: cover;
}

.bottom-left {
    bottom: 0;
    left: 0;
    background-image: url('ornament2.png');
    background-size: cover;

}

.bottom-right {
    bottom: 0;
    right: 0;
    background-image: url('ornament2.png');
    background-size: cover;
}
